@{
    ViewData["Title"] = "Admin Regions";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Administrador de Pokemones</h1>
            <p class="lead text-muted">
                Si no encuentras tu pokemon favorito crea uno con las
                caracteristicas que quieras, deja que fluya tu imaginación.
            </p>
            <p>
                <a href="/create-pokemon" class="btn btn-primary my-2">Crea un nuevo pokemon</a>
            </p>
        </div>
    </div>
</section>