@using Application.ViewModels
@model List<Application.ViewModels.PokemonTypeViewModel>
@{
    ViewData["Title"] = "Admin Regions";
}

<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold">Administrador de Tipos de Pokemones</h1>
            <p class="lead text-muted">
                Aquí te mostramos un listado con todas los tipos de nuestros pokemones,
                puedes consultar todos los que quieras o incluso crear uno propia.
            </p>
            <p>
                <a asp-controller="AdminPokemonTypes" asp-action="Create" class="btn btn-lg btn-primary my-2">Crear tipo de pokemon</a>
            </p>
        </div>
    </div>
</section>

<div class="row">

    @if (Model == null || Model.Count == 0)
    {
        <h1 class="text-center fw-light mb-3 mt-5">Lo sentimos :(</h1>
        <h4 class="text-center fw-light text-muted mb-5 pb-5">No se ha encontrado ningun tipo de pokemon.</h4>
    }
    else
    {
        @foreach (PokemonTypeViewModel pokemonType in Model)
        {
            <div class="col mb-4">
                <div class="card bg-dark text-light" style="width: 18rem; height: auto">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@pokemonType.Name</h5>
                        <a asp-controller="AdminPokemonTypes" asp-action="Delete" asp-route-id="@pokemonType.Id" class="btn btn-danger float-end">
                            <i class='bx bxs-trash'></i>
                        </a>

                        <a asp-controller="AdminPokemonTypes" asp-action="Edit" asp-route-id="@pokemonType.Id" class="btn btn-primary float-end me-2">
                            <i class='bx bxs-edit'></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    }

</div>