@{
    ViewData["Title"] = "Admin Regions";
}

<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Administrador de Tipos de Pokemones</h1>
            <p class="lead text-muted">
                Aquí te mostramos un listado con todas los tipos de nuestros pokemones,
                puedes consultar todos los que quieras o incluso crear uno propia.
            </p>
            <p>
                <a href="/create-type" class="btn btn-primary my-2">Crea un nuevo tipo de pokemon</a>
            </p>
        </div>
    </div>
</section>