@using Application.ViewModels
@model List<Application.ViewModels.PokemonViewModel>
@{
    ViewData["Title"] = "Home";
}

<form method="POST" action="/filter-pokemons">
    <div class="card mt-2 position-absolute end-0" style="width: 20rem;">
        <select class="form-select" name="Filter" onchange="this.form.submit()">
            <option value="" selected disabled>Filtrar por Región</option>
            <option value="1">Kanto</option>
        </select>
    </div>
</form>

<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Pokedex App</h1>
            <p class="lead text-muted">
                Encuentra tu pokemon favorito entre toda la variedad
                de pokemones de diferentes tipos y regiones mostrados a continuación.
            </p>
        </div>
    </div>
</section>

<div class="row">

    @if(Model == null || Model.Count == 0)
    {
        <h1 class="text-center fw-light mb-3 mt-3">Lo sentimos :(</h1>
        <h5 class="text-center lead text-muted">No se ha encontrado ningún pokemon.</h5>
    }else
    {
        @foreach(PokemonViewModel pokemon in Model)
        {
            <div class="col-4 mb-4">
                <div class="card card-light bg-opacity-75 shadow-sm">
                    <img src="@pokemon.ImagePath" class="card-img-top bd-placeholder-img" alt="pokemon img"/>
                    <div class="card-body">
                        <h2 class="card-title text-center fw-bold mb-3">@pokemon.Name</h2>
                        <p><i class="fw-bold m-0">Region: </i> Kanto</p>
                        <p><i class="fw-bold m-0">Tipo primario: </i> Fuego</p>
                        <p><i class="fw-bold m-0">Tipo secundario: </i> Agua</p>
                    </div>
                </div>
            </div>
        }
    }

</div>
