<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokedex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pokedex_App.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' asp-append-version="true" />
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
              asp-controller="AdminPokemons" asp-action="Index">Pokemones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
                           asp-controller="AdminRegions" asp-action="Index">Regiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
                           asp-controller="AdminPokemonTypes" asp-action="Index">
                            Tipos de
              pokemones</a>
          </li>
        </ul>

        <form action="/search" class="d-flex" role="search" method="post">
          <input class="form-control me-2" type="search" name="SearchVar"
            placeholder="Busca un pokemon..." aria-label="Search">
          <button class="btn btn-dark border-white" type="submit">Burscar</button>
        </form>

      </div>
    </div>
  </nav>
    <div class="container" id="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Pokedex App.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
